<nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/api-data"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Api Data</a
        >
      </li>
      <li>
        <a
          routerLink="/feedback"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Feed Back</a
        >
      </li>
    </ul>
  </nav>
  
